html,
body {
	height: 100%;
}

body {
	background-image: radial-gradient(
		circle,
		#f0c505,
		#f76e2a 10%,
		#a71a5b 40%,
		#651366
	);
	position: relative;
	overflow: hidden;
}

.bg-color {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

canvas {
	display: block;
}
